<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <meta http-equiv="X-UA-Compatible" content="edge"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.16.0/math.min.js"></script>
    <script src="util/Constants.js"></script>
    <script src="./util/fileutil.js"></script>
    <script src="bean/Fraction.js"></script>
    <script src="./util/browserTypeUtil.js"></script>
    <script src="./util/clone.js"></script>
    <script src="./util/randomUtil.js"></script>
    <script src="util/generateTopic.js"></script>
    <script src="util/calEval.js"></script>
    <script src="worker/util/judgeUtil.js"></script>


</head>
<body>

    <div id="app">
        <input type="file" accept=".txt" ref="fileInput" id="file-input" style="display: none" @change="handleFileChange" :key="fileInputKey">
        <el-drawer
                :visible.sync="tableVisibility"
                direction="rtl"
                :with-header="false"
                :show-close="true"
                size="100%">
            <el-table :data="tableData" border height="100%" v-loading="loading">
                <el-table-column property="topic" label="题目"></el-table-column>
                <el-table-column property="standardAnswer" label="标准答案"></el-table-column>
                <el-table-column property="studentAnswer" label="学生答案"></el-table-column>
                <el-table-column property="right" label="正确情况"></el-table-column>
            </el-table>
        </el-drawer>
        <div class="top-box">
            <div class="options-box">
                <p class="text">请输入生成随机数的范围 : </p>
                <el-input-number v-model="from" controls-position="right" :min="1" :max="to - 1"></el-input-number>
                <p>&nbsp;&nbsp;~&nbsp;&nbsp;</p>
                <el-input-number v-model="to" controls-position="right" :min="from + 1"></el-input-number>
                <p class="rua">题目个数 : </p>
                <el-input-number v-model="count" controls-position="right" :min="1"></el-input-number>
                <el-button type="primary" @click="generateTopic">生成</el-button>
            </div>
        </div>
        <div class="center-box">
            <textarea id="textBox" class="topic-box" v-model="topic" readonly></textarea>
        </div>
        <div class="bottom-box">
            <div class="topic-option-box">
                <el-button type="primary" @click="downloadTopic">下 载 题 目</el-button>
                <el-button type="primary" @click="loadTopic">读 取 题 目</el-button>
            </div>
            <div class="standard-answer-box">
                <p>标准答案</p>
                <el-input :value="standardAnswer"></el-input>
                <el-button type="primary" @click="loadStandardAnswer">读 取 标 准 答 案</el-button>
                <el-button type="primary" @click="downloadStandardAnswer">下 载 标 准 答 案</el-button>
            </div>
            <div class="answer-box">
                <p>学生答案</p>
                <el-input v-model="studentAnswer"></el-input>
                <el-button type="primary" @click="loadStudentAnswer">读 取 学 生 答 案</el-button>
                <el-button type="primary" @click="downloadStudentAnswer">下 载 学 生 答 案</el-button>

            </div>
            <el-button type="primary" @click="judge">判 卷</el-button>
        </div>

    </div>


    <script src="./index.js"></script>
    <script>
        window.onerror = function (error) {
            Vue.prototype.$message.error(error);
		}
    </script>
</body>
</html>
